<app-default-layout-login-signin></app-default-layout-login-signin>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Enter your User Name to reset your password</h1>
                </div>
                    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
                        <div class="mb-3">
                          <label for="UserName" class="form-label">User Name</label>
                          <input formControlName="userName" class="form-control" id="UserName">
                        </div>
                        <div *ngFor="let error of errorsService.errorsArray;" class="alert alert-danger">
                          {{error}}
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="btn btn-primary mb-1">Submit</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>



