<app-default-layout-login-signin></app-default-layout-login-signin>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                </div>    
                <form>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label for="InputName" class="form-label">Full Name:</label>  
                            <input formControlName="displayName" type="text" class="form-control" id="InputName">
                          </div>  
                        <div class="mb-3">
                          <label for="InputUserName" class="form-label">User Name:</label>  
                          <input formControlName="userName" class="form-control" id="InputUserName" aria-describedby="UserHelp">
                        </div>  
                        <div class="mb-3">
                          <label for="InputPassword" class="form-label">Password:</label>  
                          <input formControlName="password" type="password" class="form-control" id="InputPassword">
                        </div>  
                        <div *ngFor="let error of errorsService.errorsArray;" class="alert alert-danger">
                            {{error}}
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="btn btn-primary mb-1">Sign Up</button>
                        </div>    
                      </form>  
                </form>      
            </div>    
        </div>    
    </div>    
</div>

