body{
    background-color: aliceblue;
}

.card{
    border: none;
    width: 500px;
    padding: 40px;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);
}

.card label h1,h6{
    color: white;
}

label{
    color: white;
}

a{
    color: white;
    margin-top: 10px;
}

.error {
    color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
